@import http://fonts.googleapis.com/css?family=Raleway;
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
  }
#main {
margin:50px auto;
font-family:raleway
}
span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
input[type=text],input[type=password] {
width:35%;
padding:20px;
margin-top:8px;
border:1px solid #ccc;
font-size:20px;
font-family:raleway;
list-style: none;
}
input[type=submit] {
width:20%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:25px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:15px;
}

li {
  list-style: none;
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}

.list {
  font-size: 35px;
  font-weight: bold;

}

.list a {
  color: #EAF0CE;
}

#box {
  text-align: center;
  margin-top: 200px;
}

label {
  font-size: 22px;
  padding-top: 10px;
}
