body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

 h2 {
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position:relative;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 200px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-description {
  position: absolute;
  padding: 0px 50px 50px 50px;
  text-align: center;
}
.card-description h2 {
  font-size: 22px;
  text-align: center;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

input[type=submit] {
width:10%;
background-color:#f7cc54;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:25px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
margin-top:15px;
text-align: center;
}


.welcome {
  font-size: 35px;
  opacity: 0.5;
  background-color: white;
  display: block;
  text-align: center;
}

.tabletop {
  padding-top: 50px;
}