/*This is the header CSS*/
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #C0C5C1;
  transition: all 0.3s ease;
  padding: 25px 25px;
  border-bottom: 4px solid #fcab0e;
}

.navbar-button {
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 0.2em;
  /*line-height: 40px;*/
  background-color: #443850;
  color: white;
  font-size: 16px;
  border: 2px solid #443850;
}
.navbar-button:hover {
  color: white;
  background: #d9534f;
  border-color: #d9534f;
}
.navbar-button a {
  color:white;  
}
